---
- name: ast-grep
  hosts: localhost
  vars:
    user: 'soeren'
    user_home: '/home/soeren'

  tasks:
    - name: Download and install ast-grep
      shell: |
        cd /tmp
        curl -LO https://github.com/ast-grep/ast-grep/releases/latest/download/app-x86_64-unknown-linux-gnu.zip
        unzip -o app-x86_64-unknown-linux-gnu.zip
        chmod +x ast-grep sg
        mv ast-grep {{ user_home }}/.local/bin/ast-grep
        mv sg {{ user_home }}/.local/bin/sg
        rm -f app-x86_64-unknown-linux-gnu.zip
      args:
        executable: /bin/bash
