---
- name: Babashka
  hosts: localhost

  tasks:
    - name: Gather facts
      setup:

    - name: Set user variables
      set_fact:
        user: "{{ ansible_facts['user_id'] }}"
        user_home: "{{ ansible_facts['env']['HOME'] }}"
        local_bin: "{{ ansible_facts['env']['HOME'] }}/.local/bin"
    - name: Ensure ~/.local/bin directory exists
      file:
        path: "{{ local_bin }}"
        state: directory
        mode: '0755'

    - name: Check if Babashka is already installed
      stat:
        path: "{{ local_bin }}/bb"
      register: bb_check
      changed_when: false

    - name: Download and install Babashka
      shell: |
        curl -sLO https://raw.githubusercontent.com/babashka/babashka/master/install
        chmod +x install
        ./install --dir {{ local_bin }}
        rm install
      args:
        executable: /bin/bash
        chdir: /tmp
      when: not bb_check.stat.exists
