---
- name: Docker
  hosts: localhost
  vars:
    user: 'soeren'

  tasks:
    - name: Install Docker Engine and Docker Compose (Ubuntu/Debian)
      become: yes
      become_method: sudo
      apt:
        name:
          - docker.io
          - docker-compose
        state: present
        update_cache: yes
      when: ansible_facts['os_family'] == "Debian"

    - name: Install Docker Engine and Docker Compose (Fedora)
      become: yes
      become_method: sudo
      dnf:
        name:
          - docker
          - docker-compose
        state: present
      when: ansible_facts['os_family'] == "RedHat"

    - name: Add user to docker group
      become: yes
      become_method: sudo
      user:
        name: "{{ user }}"
        groups: docker
        append: yes

    - name: Ensure Docker service is started and enabled
      become: yes
      become_method: sudo
      systemd:
        name: docker
        state: started
        enabled: yes
