---
- name: Docker Loki Plugin
  hosts: localhost

  tasks:
    - name: Gather facts
      setup:

    - name: Set user variables
      set_fact:
        user: "{{ ansible_facts['user_id'] }}"
    - name: Check if Docker is installed
      command: docker --version
      register: docker_check
      ignore_errors: yes
      changed_when: false

    - name: Fail if Docker is not installed
      fail:
        msg: "Docker is not installed. Please install Docker first."
      when: docker_check.rc != 0

    - name: Install Docker Loki logging driver plugin
      become: yes
      become_method: sudo
      command: docker plugin install grafana/loki-docker-driver:latest --alias loki --grant-all-permissions
      register: plugin_install
      failed_when:
        - plugin_install.rc != 0
        - "'already exists' not in plugin_install.stderr"
      changed_when: plugin_install.rc == 0

    - name: Enable Docker Loki plugin
      become: yes
      become_method: sudo
      command: docker plugin enable loki
      register: plugin_enable
      failed_when:
        - plugin_enable.rc != 0
        - "'already enabled' not in plugin_enable.stderr"
      changed_when: plugin_enable.rc == 0
      when: plugin_install.changed
