---
- name: Neovim Dependencies
  hosts: localhost

  tasks:
    - name: Install LazyVim dependencies via apt
      become: yes
      become_method: sudo
      apt:
        name:
          - build-essential
          - ripgrep
          - fzf
          - fish
          - luarocks
        state: present
        update_cache: yes
