---
- name: Neovim Dependencies
  hosts: localhost

  tasks:
    - name: Install LazyVim dependencies (Ubuntu/Debian)
      become: yes
      become_method: sudo
      apt:
        name:
          - build-essential
          - ripgrep
          - fzf
          - fish
          - luarocks
        state: present
        update_cache: yes
      when: ansible_facts['os_family'] == "Debian"

    - name: Install development tools group (Fedora)
      become: yes
      become_method: sudo
      dnf:
        name: '@Development Tools'
        state: present
      when: ansible_facts['os_family'] == "RedHat"

    - name: Install LazyVim dependencies (Fedora)
      become: yes
      become_method: sudo
      dnf:
        name:
          - ripgrep
          - fzf
          - fish
          - luarocks
        state: present
      when: ansible_facts['os_family'] == "RedHat"
