---
- name: Node.js via NVM
  hosts: localhost
  vars:
    node_version: '24'

  tasks:
    - name: Gather facts
      setup:

    - name: Set user variables
      set_fact:
        user: "{{ ansible_facts['user_id'] }}"
        user_home: "{{ ansible_facts['env']['HOME'] }}"
    - name: Install Node.js via NVM
      shell: |
        export NVM_DIR="{{ user_home }}/.nvm"
        [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
        nvm install {{ node_version }}
      args:
        executable: /bin/bash
