---
- name: NVM
  hosts: localhost

  tasks:
    - name: Gather facts
      setup:

    - name: Set user variables
      set_fact:
        user: "{{ ansible_facts['user_id'] }}"
        user_home: "{{ ansible_facts['env']['HOME'] }}"
    - name: Check if NVM is installed
      stat:
        path: '{{ user_home }}/.nvm'
      register: nvm_installed

    - name: Install NVM
      shell: |
        curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
      args:
        executable: /bin/bash
      when: not nvm_installed.stat.exists
