---
- name: VS Code
  hosts: localhost

  tasks:
    - name: Install VS Code
      become: yes
      become_method: sudo
      community.general.snap:
        name: code
        classic: yes

    - name: Install VS Code extensions
      shell: |
        code --install-extension ms-python.python
      args:
        executable: /bin/bash
