---
- name: VS Code
  hosts: localhost

  tasks:
    - name: Install VS Code (Ubuntu/Debian via snap)
      become: yes
      become_method: sudo
      community.general.snap:
        name: code
        classic: yes
      when: ansible_facts['os_family'] == "Debian"

    - name: Install VS Code (Fedora via Flatpak)
      become: yes
      become_method: sudo
      community.general.flatpak:
        name: com.visualstudio.code
        state: present
      when: ansible_facts['os_family'] == "RedHat"

    - name: Install VS Code extensions
      shell: |
        code --install-extension ms-python.python
        code --install-extension vscjava.vscode-java-pack
        code --install-extension Prettier.prettier-vscode
        code --install-extension svelte.svelte-vscode
        code --install-extension vmware.vscode-boot-dev-pack
        code --install-extension bierner.markdown-mermaid 
        code --install-extension bpruitt-goddard.mermaid-markdown-syntax-highlighting 
        code --install-extension ms-playwright.playwright 
        code --install-extension bradlc.vscode-tailwindcss 
        code --install-extension dbaeumer.vscode-eslint 
      args:
        executable: /bin/bash
