---
- name: Base Packages
  hosts: localhost
  connection: local

  tasks:
    - name: Update apt cache (Ubuntu/Debian)
      become: yes
      apt:
        update_cache: yes
        cache_valid_time: 3600
      when: ansible_facts['os_family'] == "Debian"

    - name: Install base packages (Ubuntu/Debian)
      become: yes
      apt:
        name:
          - curl
          - git
          - xclip
      when: ansible_facts['os_family'] == "Debian"

    - name: Install base packages (Fedora)
      become: yes
      dnf:
        name:
          - curl
          - git
          - xclip
        state: present
      when: ansible_facts['os_family'] == "RedHat"
