---
- name: Base Packages
  hosts: localhost

  tasks:
    - name: Update apt cache
      become: yes
      become_method: sudo
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install base packages
      become: yes
      become_method: sudo
      apt:
        name:
          - curl
          - git
